{{> head  }}

{{> navbar }}

<div  class="row"  >
    <div class="col-8">
        <h1>Imagen Graciosa</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur doloremque sit id sunt quaerat fugiat quas dolor, quasi ducimus facere autem cumque excepturi perspiciatis expedita veritatis? Quia voluptatibus eos possimus!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/snowball.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}